.myMasonryGrid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    /* margin-left: -30px; */
    width: auto;
    gap: 1rem;
    margin-top: 1rem;
  }
  .myMasonryGrid_column {
    /* padding-left: 30px;  */
    background-clip: padding-box;
  }

  .myMasonryGrid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 1rem;
  }

  .container{
    position: relative;
}

  .container:hover{
    filter: brightness(110%);
    cursor: pointer;

}

.imageContainer{
    width: 100%;
    
}

.image{
    width: 100%;
    
}

.info {
  width: 100%;
  max-width: 100%;
  position: absolute;
  padding-left: 1rem;
  bottom: 1rem;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px black, 0.5px -0.5px 0.5px black, -0.5px 0.5px 0.5px black, -0.5px -0.5px 0.5px black;
  overflow: hidden;
}

.title {
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  font-size: 18px;
}
