.right{
    flex:1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.inputContainer{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  background-color: orangered;
  position: relative;
}
.suggestions {
  left: 0;
  top: 42px;
  
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  background-color: white;
  gap: 0.1rem;
}
.suggestion {
  padding: 2.5px 5px;
}
.suggestion:hover {
  background-color: orangered;
  color: white;
}

.searchInput{
    border:none;
    outline: none;
    background-color: inherit;
    padding: 5px;
    width:100%;

}
.searchInput::placeholder{
    color:white;
}

.button{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: inherit;
    color: orangered;
    border: 1px solid orangered;
    font-weight: bold;

}

.button:hover{
    background-color: orangered;
    color:white;
}

@media only screen and (max-width: 550px) {
    .right{
      flex-grow:1;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .inputContainer{
        border: 1px solid gray;
        border-radius: 5px;
        padding: 5px;
        background-color: orangered;
        position: relative;
        flex-grow:1;
      }
      .button{
        padding: 3px 5px;
    
    }


}