.ticker {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px 1px black;
    background-color: black;
    overflow-x: hidden;
    white-space: nowrap;
    z-index: 999;
  }
  .tickerRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
    margin: 0;
  }